// forms
#create-quiz, #questions {
  background: rgb(255,195,55);
  background: radial-gradient(circle, rgba(255,195,55,0.819765406162465) 0%, rgba(255,195,55,0.7021183473389356) 15%, rgba(255,255,255,1) 68%);
  border-radius: 150px;
  padding: 1rem 0 1rem;
  width: 50%;
  margin: 0 auto;
}

// container of a single input form
.control {
  width: 50%;
  margin: 0 auto;
}

.label {

  // label for question text input
  &.question-label {
    color: #db5e0b;
  }

}

// all submit/cancel buttons used during quiz creation
#submit-quiz,
#cancel-quiz,
.submit-buttons .button {
  margin: 0 .7rem;
}
