/******** Import Font ********/
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/******** Customizations ********/

//default font for all text
$family-sans-serif: "Montserrat", sans-serif;

// color variables
$orange-light: #e67e22;
$orange-dark: #db5e0b;

// set colors used by Bulma
$primary: $orange-light;
$info: $orange-dark;
$link: $orange-light;
$scheme-invert: $orange-light;

// all hero sections
.hero {
  margin-bottom: 30px;
}

// background color for when taking a quiz
.quiz-background {
  background-image: linear-gradient(
    141deg,
    #ca450b 0%,
    #e67e22 71%,
    #eeaa33 100%
  );
}

// background color for quiz result page, after quiz ends
.quiz-end-background {
  background-image: linear-gradient(
    141deg,
    #ffc337 0%,
    #e0490e 71%,
    #ff3e37 100%
  );
}

// all tiles (boxes holding quizzes, and quiz options while taking a quiz)
.box {
  background-size: cover;
  height: 250px;
  transition: all 0.5s;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 2px 18px 3px rgba(230, 126, 34, 0.8);
    transition: all 0.5s;
  }

  // option boxes while taking a quiz
  &.option:hover {
    box-shadow: 0px 2px 18px 9px rgba(230, 230, 230, 0.8);
    transition: all 0.5s;
  }
}

// placeholder text in input forms
::placeholder {
  color: black !important;
  opacity: 0.4;
}

/******** Bulma ********/
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";

@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/grid/tiles.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
