/******** Customizations ********/
#loginFormContainer {
  padding:0;

  input {
    width: 65%;
  }

}

#login {
  margin-left:5%;
}

#loggedIn {

  p {
    display: inline-block;
    margin-top: 0.5rem;
  }

}

