// Extend page height on large screens
@media screen and (min-width: 768px) {
  html {
    height: 100%;
  }
}

// section with question text
.question {
    padding-bottom: 29px;
}

// countdown timer
#timerHeading {
  display: inline-block;
  width: 7rem;
  margin-bottom: 2rem;
  border: 10px solid;
  border-image: linear-gradient(180deg, rgb(69, 173, 8), rgb(27, 168, 69)) 1;
  border-radius: 20px;
  padding: 15px;
}

